
  * {
    margin: 0px;
    padding: 0px;
  }
  .header, .footer {
            height: 50px;
            background-color: grey;
            color: white;
            font-size: 20px;
            text-align: center;
            line-height: 50px;
        }
  .content {
    height: 400px;
    float: left;
    width:500px;
  }
  .left {
    background-color: wheat;
    width: 200px;
  }
.left li {
  list-style: none;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-bottom: thistle;
  cursor: pointer;
}
.left li a{
  text-decoration-line: none;
}
.left li:hover {
  background-color: yellowgreen;
}

.footer {
  clear: both;
}

